[Unit]
Description=Update Obsidian vault
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/neynt/obsidian
Environment=PYTHONDONTWRITEBYTECODE=1
ExecStart=/usr/bin/python /home/neynt/obsidian/update_obsidian.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
