[Unit]
Description=Run update-obsidian script hourly
Requires=update-obsidian.service

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
