#!/bin/bash
PROFILE_ID="$(dconf list /org/gnome/terminal/legacy/profiles:/ | head -n1 | xargs)"
KEY="/org/gnome/terminal/legacy/profiles:/$PROFILE_ID"
KEY="${KEY%/}"

dconf write "$KEY/background-color" "'rgb($background_csv)'"
dconf write "$KEY/foreground-color" "'rgb($foreground_csv)'"
dconf write "$KEY/palette" "['rgb($color0_csv)', 'rgb($color1_csv)', 'rgb($color2_csv)', 'rgb($color3_csv)', 'rgb($color4_csv)', 'rgb($color5_csv)', 'rgb($color6_csv)', 'rgb($color7_csv)', 'rgb($color0_bright_csv)', 'rgb($color1_bright_csv)', 'rgb($color2_bright_csv)', 'rgb($color3_bright_csv)', 'rgb($color4_bright_csv)', 'rgb($color5_bright_csv)', 'rgb($color6_bright_csv)', 'rgb($color7_bright_csv)']"
