Windows Registry Editor Version 5.00

[HKEY_CURRENT_USER\Software\SimonTatham\PuTTY\Sessions\Default%20Settings]
"Colour0"="$foreground_csv"
"Colour1"="$foreground_csv"
"Colour2"="$background_csv"
"Colour3"="$background_csv"
"Colour4"="$foreground_csv"
"Colour5"="$foreground_bright_csv"
"Colour6"="$color0_csv"
"Colour7"="$color0_bright_csv"
"Colour8"="$color1_csv"
"Colour9"="$color1_bright_csv"
"Colour10"="$color2_csv"
"Colour11"="$color2_bright_csv"
"Colour12"="$color3_csv"
"Colour13"="$color3_bright_csv"
"Colour14"="$color4_csv"
"Colour15"="$color4_bright_csv"
"Colour16"="$color5_csv"
"Colour17"="$color5_bright_csv"
"Colour18"="$color6_csv"
"Colour19"="$color6_bright_csv"
"Colour20"="$color7_csv"
"Colour21"="$color7_bright_csv"
