[user]
  email = hyriodula@gmail.com
  name = neynt
[push]
  default = simple
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[diff]
  external = ~/.opam/default/bin/patdiff-git-wrapper
[init]
  defaultBranch = main
