BoldAsFont=no
Font=Fira Code
FontHeight=10
FontWeight=400
FontSmoothing=default
Transparency=off
OpaqueWhenFocused=yes
CursorType=block
BackgroundColour=$background_csv
ForegroundColour=$foreground_csv
Black=$color0_csv
BoldBlack=$color0_bright_csv
Red=$color1_csv
BoldRed=$color1_bright_csv
Green=$color2_csv
BoldGreen=$color2_bright_csv
Yellow=$color3_csv
BoldYellow=$color3_bright_csv
Blue=$color4_csv
BoldBlue=$color4_bright_csv
Magenta=$color5_csv
BoldMagenta=$color5_bright_csv
Cyan=$color6_csv
BoldCyan=$color6_bright_csv
White=$color7_csv
BoldWhite=$color7_bright_csv
Term=xterm-256color
FontIsBold=no
