! special
*.foreground:   $foreground_hex
*.background:   $background_hex
! *.cursorColor:  #e9e9e9

! black
*.color0:       $color0_hex
*.color8:       $color0_bright_hex

! red
*.color1:       $color1_hex
*.color9:       $color1_bright_hex

! green
*.color2:       $color2_hex
*.color10:      $color2_bright_hex

! yellow
*.color3:       $color3_hex
*.color11:      $color3_bright_hex

! blue
*.color4:       $color4_hex
*.color12:      $color4_bright_hex

! magenta
*.color5:       $color5_hex
*.color13:      $color5_bright_hex

! cyan
*.color6:       $color6_hex
*.color14:      $color6_bright_hex

! white
*.color7:       $color7_hex
*.color15:      $color7_bright_hex
