* {
    font-family: Iosevka;
    font-size: 14px; /* Adjusted for 4K */
}
#waybar {
    background: #1a1a1a;
    border-radius: 0;
    margin: 5px;
}
#workspaces button {
    padding: 0 3px;
    color: #999999;
    border: none;
}
#workspaces button.active {
    color: #ffffff;
}
#workspaces button:hover {
    background: transparent;
    border: none;
    box-shadow: inherit;
    text-shadow: inherit;
    transition: none;
}
#clock, #cpu, #memory, #battery, #tray, #pulseaudio {
    padding: 0 10px;
    color: #aaaaaa;
}
