[Background]
Color=$background_csv

[BackgroundFaint]
Color=$background_csv

[BackgroundIntense]
Color=$background_csv

[Color0]
Color=$color0_csv

[Color0Faint]
Color=$color0_csv

[Color0Intense]
Color=$color0_bright_csv

[Color1]
Color=$color1_csv

[Color1Faint]
Color=$color1_csv

[Color1Intense]
Color=$color1_bright_csv

[Color2]
Color=$color2_csv

[Color2Faint]
Color=$color2_csv

[Color2Intense]
Color=$color2_bright_csv

[Color3]
Color=$color3_csv

[Color3Faint]
Color=$color3_csv

[Color3Intense]
Color=$color3_bright_csv

[Color4]
Color=$color4_csv

[Color4Faint]
Color=$color4_csv

[Color4Intense]
Color=$color4_bright_csv

[Color5]
Color=$color5_csv

[Color5Faint]
Color=$color5_csv

[Color5Intense]
Color=$color5_bright_csv

[Color6]
Color=$color6_csv

[Color6Faint]
Color=$color6_csv

[Color6Intense]
Color=$color6_bright_csv

[Color7]
Color=$color7_csv

[Color7Faint]
Color=$color7_csv

[Color7Intense]
Color=$color7_bright_csv

[Foreground]
Color=$foreground_csv

[ForegroundFaint]
Color=$foreground_csv

[ForegroundIntense]
Color=$foreground_bright_csv

[General]
Description=Tinted
Opacity=1
Wallpaper=
